Thumbs.db
.DS_Store
*.iml
.idea

papers_data/*.json

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/

Pipfile.lock

*.log

*.tmp
*.temp
*.swp
*.swo

*.bak
*.old
*.orig
*.rej

*.sublime-workspace
*.sublime-project
*.vscode/
